body {
    position: relative;
    max-width: 1920px;
    height: 4230px;
    background: #000000;
}

.fundo {
    position: relative;
    width: 100%;
    height: 18%;

    background: linear-gradient(180deg, #09150A 67.19%, rgba(0, 0, 0, 0.8) 100%);

}

.linha {
    position: absolute;
    width: 154px;
    height: 14px;
    top: 22rem;
    left: 50%;

}

.titulo {
    position: absolute;
    width: 240px;
    height: 90rem;
    top: 22rem;
    left: 48%;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 85px;
    text-align: center;

    color: #FFF0BC;

}

.image {
    position: absolute;
    width: 560px;
    height: 820px;
    bottom: 4rem;
    right: 80%;
}


.photo {
    position: absolute;
    width: 560px;
    height: 820px;
    bottom: 4rem;
    left:80%;
}

.image-slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {display: none;}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

.cabeçalho {
    position: absolute;
    left: 60.94%;
    right: 31.35%;
    top: 4.66%;
    bottom: 92.66%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    text-align: center;

    color: #FFFFFF;
}

#menu {
    position: relative;
    width: 100%;
    height: 4.5rem;
    background: #09150A;
    border-bottom: 1px solid #FFF0BC;
}

.logo-nav {
    position: relative;
    width: 68px;
    height: 82px;
    padding: 14px;
    left: 3.8rem;
}

#menu ul {
    max-width: 1920px;
    height: 70px;
    list-style: none;
    padding: 0;
    bottom: 87.81%;
}

#menu ul li {
    display: inline;
}

.cadastrar {
    color: #FFFFFF;

    font-family: 'Quando';
    font-style: normal;
    font-size: 12px;
    line-height: 29px;

    position: absolute;
    right: 4.5rem;
    top: 1.2rem;
    padding: 3px 15px;
    cursor: pointer;

    border: none;
    border-radius: 15px;

    text-align: center;
    background: #3A412E;
    transition: 0.5s all ease-in-out;
}

.login {
    color: #FFFFFF;

    position: absolute;
    right: 13rem;
    top: 1.2rem;
    padding: 1px 28px;
    cursor: pointer;

    border: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #3A412E;

    font-family: 'Quando';
    font-style: normal;
    font-size: 12px;
    line-height: 29px;


    text-align: center;
    background-color: transparent;
}

.sobre {
    color: #FFFFFF;

    position: absolute;
    left: 62rem;
    top: 1.3rem;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 29px;

    text-align: center;
}

.inform {
    color: #FFFFFF;

    position: absolute;
    left: 50rem;
    top: 1.3rem;

    font-family: 'Quando';
    font-size: 12px;
    line-height: 29px;

    text-align: center;
}

.titulo-main {
    position: absolute;
    width: 100;
    height: 36.12px;
    left: 38%;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;

    color: #FFFFFF;
}

.star01-main {
    position: absolute;
    width: 43.5px;
    height: 47.81px;
    left: 38%;
    border: 2px solid #FFFFFF;
    border: none;
}

.star {
    position: absolute;
    width: 43.5px;
    height: 47.81px;
    left: 68%;

    border: 2px solid #FFFFFF;
    border: none;
}

#card01-main {
    box-sizing: border-box;

    position: absolute;
    width: 90%;
    height: 480px;

    top: 22%;

    border: 1px solid #FFFFFF;
    border-radius: 40px;
}

#card01-main .img-card1 {
    position: absolute;
    width: 96%;
    height: 60%;
    top: 3rem;
    left: 2rem;
}

#card01-main .titulo-card1 {
    position: absolute;
    width: 850px;
    height: 51px;
    left: 2%;
    top: 68%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 51px;

    color: #FFFFFF;

}

#card01-main .subtitulo-card1 {
    position: absolute;
    width: 98%;
    height: 48px;
    top: 78%;
    left: 2%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;
}

#card01-main p {
    position: absolute;
    width: 120px;
    height: 45px;
    top: 82%;
    left: 84.8%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;

    color: #4E844D;

}

#card01-main .data {
    position: absolute;
    width: 220px;
    height: 23.37px;
    top: 88%;
    left: 2%;

    font-family: 'Quattrocento Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;

    color: #838383;
}

#card01-main .hora {
    position: absolute;
    width: 161px;
    height: 23.37px;
    top: 91%;
    left: 2%;

    font-family: 'Quattrocento Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;

    color: #838383;
}

.v-mais {
    cursor: pointer;

    position: absolute;
    width: 260px;
    height: 50px;
    left: 41%;
    top: 30.5%;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    text-decoration-line: underline;
    text-transform: lowercase;

    color: #000000;

    background: #FFFFFF;
    border-radius: 100px;
}

.sobreposição {
    position: absolute;
    width: 100%;
    height: 500px;

    background: linear-gradient(360deg, rgba(0, 0, 0, 0.9) -40.73%, rgba(0, 0, 0, 0) 100%);
}

.sobre-main {
    position: absolute;
    top: 32%;
    width: 100%;
    height: 44rem;

    background: linear-gradient(180deg, #000000 0%, #08150A 15.1%, #08150A 54.17%, #0F0F0F 89.58%, #101010 100%);
}

.titulo-sobre {
    position: absolute;
    width: 520px;
    height: 229px;
    left: 40%;
    top: 12%;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 56px;

    text-align: justify;

    color: #FFFFFF;
}

.txt01 {
    position: absolute;
    width: 760px;
    height: 100px;
    left: 40%;
    top: 32%;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: justify;

    color: #FFFFFF;
}

.txt02 {
    position: absolute;
    width: 760px;
    height: 100px;
    left: 40%;
    top: 64%;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: justify;

    color: #FFFFFF;
}

.feira-main {
    position: absolute;
    width: 380px;
    height: 568px;
    top: 12%;
    left: 5%;

    background: url(pexels-felipe-kirejian-9867200.jpg);
    border-radius: 60px;
}

.circle {
    position: relative;
    top: 10%;
    width: 716px;
    height: 380px;

    background: rgba(58, 65, 46, 0.6);
    filter: blur(250px);
}

.circle2 {
    position: absolute;
    width: 716px;
    height: 68px;

    background: ##050C06;
    filter blur(250px);
}

.fundo-degrade {
    position: absolute;
    width: 100%;
    height: 220px;
    top: 0%;

    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.Candido {
    position: absolute;
    width: 100%;
    height: 69rem;
    top: 129rem;

    background: #141414;
}

.pelicula {
    position: absolute;
    width: 99%;
    height: 45rem;

    background: linear-gradient(106.99deg, rgba(0, 0, 0, 0.4) 2.93%, rgba(0, 0, 0, 0.4) 14.87%, rgba(0, 0, 0, 0.04) 95.85%);
}

.obra-candido {
    position: absolute;
    width: 52rem;
    height: 45rem;
    left: 0.8rem;
    top: 0.8rem;

    background: url(3FFz5caVWlPQT5P5XkQ2m3qpZS4sva8O.jpg);
}

.obra-titulo {
    position: absolute;
    width: 235px;
    height: 62px;
    top: 2%;
    left: 4%;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 39px;
    text-align: justify;

    color: #C2BA90;
}

.obra-ano {
    position: absolute;
    width: 235px;
    height: 62px;
    top: 3.8%;
    left: 4%;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 39px;
    text-align: justify;

    color: #C2BA90;
}

.nome-candido {
    position: absolute;
    width: 504.72px;
    height: 184.87px;
    top: 20%;
    left: 8rem;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 92px;

    text-align: justify;

    color: #C2BA90;

}

.sobrenome-candido {
    position: absolute;
    width: 504.72px;
    height: 190px;
    top: 25%;
    left: 8rem;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 92px;

    text-align: justify;

    color: #C2BA90;

}

.fundo-nome {
    position: absolute;
    width: 400px;
    height: 120px;
    top: 23%;
    left: 8rem;

    background: #000000;
    filter: blur(70px);
}

.ano {
    position: absolute;
    width: 120px;
    height: 30px;
    top: 30%;
    left: 22rem;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    text-align: justify;

    color: #C2BA90;

}

.txt01-candido {
    position: absolute;
    width: 580px;
    height: 210px;
    left: 46rem;
    top: 10rem;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 36px;
    text-align: justify;

    color: #C2BA90;

}

.txt02-candido {
    position: absolute;
    width: 580px;
    height: 210px;
    left: 46rem;
    top: 20rem;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 36px;
    text-align: justify;

    color: #C2BA90;
}

.txt03-candido {
    position: absolute;
    width: 580px;
    height: 210px;
    left: 46rem;
    top: 33rem;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 36px;
    text-align: justify;

    color: #C2BA90;
}

.sobre-candido {
    position: absolute;
    width: 236.07px;
    height: 80px;
    left: 60rem;
    top: 40rem;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 10px;

    text-align: justify;

    color: #C2BA90;
}

.brasil-candido {
    position: absolute;
    width: 126.11px;
    height: 30px;
    left: 46rem;
    top: 6rem;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    text-align: justify;

    color: #C2BA90;

}

.paisrefugiados {
    position: absolute;
    width: 220px;
    height: 30px;
    left: 58rem;
    top: 6rem;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    text-align: justify;

    color: #C2BA90;

}

.artistacandido {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 72rem;
    top: 6rem;

    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    text-align: justify;

    color: #C2BA90;
}